# .coveragerc to check coverage
[run]
omit =
    manage.py
    */migrations/*
    # omit anything in a .local, venv/* directory anywhere
    */.local/*
    venv/*
    */.virtualenvs/*


[report]
exclude_lines = def __repr__

ignore_errors = True

[html]
directory = coverage_html_report
