branches:
  only:
  - /.*/
dist: xenial
language: python
python:
  - 3.6
  - 3.7
  - 3.8
services:
  - postgresql
addons:
  postgresql: "11"
  apt:
    packages:
      - postgresql-11
      - postgresql-client-11
env:
  global:
    - PGPORT=5433
before_install:
  - sudo systemctl stop postgresql || sudo journalctl -xe -n 20 -u postgresql
  - sudo sed -i 's/peer/trust/' /etc/postgresql/11/main/pg_hba.conf
  - sudo systemctl start postgresql@11-main || sudo journalctl -xe -n 20 -u postgresql
  - sleep 2
before_script:
  - psql -c 'CREATE EXTENSION citext;' -U postgres template1
  - psql -c 'CREATE DATABASE travisci;' -U postgres
  - python manage.py migrate
script:
  - python manage.py test
