[tool.ruff]
# https://beta.ruff.rs/docs/rules/
select = ["E", "F"]
line-length = 119
exclude = [
    "mreg/migrations/",
    "hostpolicy/migrations/",
    ".tox",
]

[project]
name = "mreg"
version = "0.0.1"

[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools >= 46.1.0",
    "wheel",
    "toml"
]

[tool.setuptools]
py-modules = ["mreg", "mregsite", "hostpolicy"]