Django>4
djangorestframework==3.14.0
django-auth-ldap==4.8.0
django-logging-json==1.15
django-netfields==1.3.2
django-filter==24.3
structlog==24.4.0
rich==13.7.1
gunicorn==22.0.0
idna==3.7
psycopg2-binary==2.9.9
pika==1.3.2
sentry-sdk==2.12.0
tzdata==2024.1
# Testing framwork
tox
pytest
pytest-django
unittest_parametrize

# These are currently not used, but should be...
pylint
pylint-django
isort

# dj-url-filter dependencies.
six

# For OpenAPI schema generation.
uritemplate
pyyaml

# Coverage
coverage
coveralls
