cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.1.5
django-logging-json==1.15
django-rest-swagger==2.2.0
django-url-filter==0.3.11
djangorestframework==3.9.0
drf-extensions==0.4.0
elasticsearch==6.3.1
enum-compat==0.0.2
idna==2.8
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
openapi-codec==1.3.2
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pytz==2018.9
requests==2.21.0
simplejson==3.16.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.24.1
