# This docker file allows you to set up a TreeTop policy server for tests.
services:
  cedar-server:
    image: svenstaro/miniserve
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data:ro
    command: ["/data", "--port", "8080"]

  treetop-server:
    image: ghcr.io/terjekv/treetop-rest:develop
    pull_policy: "always"
    ports:
      - "9999:9999"
    environment:
      - TREETOP_POLICY_URL=http://cedar-server:8080/mreg.cedar
      - TREETOP_LABELS_URL=http://cedar-server:8080/labels.json
      - TREETOP_PORT=9999
      - TREETOP_CLIENT_ALLOWLIST=*
      - TREETOP_LISTEN=0.0.0.0
      - RUST_LOG=mio=warn,actix_server=warn,actix_http=warn,hyper_util=warn,reqwest=warn,info
    healthcheck:
      test: ["NONE"]
